@model tl2_tp10_2023_iignac.ViewModels.LogueoViewModel

<h1 class="text-center">Kanban</h1>
<section>
    <form asp-controller="Logueo" asp-action="ProcesoLogueo" method="post" class="form-logger">
        <section class="mb-3">
            <label asp-for="@Model.NombreUsuario" class="form-label"></label>
            <input asp-for="@Model.NombreUsuario" class="form-control">
            <span asp-validation-for="@Model.NombreUsuario" class="text-danger"></span>   
        </section>
        <section class="mb-3">
            <label asp-for="@Model.ContraseniaUsuario" class="form-label"></label>
            <input asp-for="@Model.ContraseniaUsuario" type="password" class="form-control"> 
            <span asp-validation-for="@Model.ContraseniaUsuario" class="text-danger"></span>
        </section>
        <input type="submit" value="Ingresar" class="btn btn-outline-info">
    </form>
</section>

@section Scripts { <partial name="_ValidationScriptsPartial" /> }