@model tl2_tp10_2023_iignac.ViewModels.TableroViewModel

@{ViewData["title"]="Editar tablero";}

<h1 class="text-center">Editar tablero</h1>
<form asp-controller="Tablero" asp-action="EditarTablero" method="post" class="form-view">
    <input hidden asp-for="@Model.Id" class="form-control">
    <section class="mb-3">
        <label asp-for="@Model.Nombre" class="form-label"></label>
        <input asp-for = "@Model.Nombre" value="@Model.Nombre" class="form-control" required>
    </section>
    <section class="mb-3">
        <label asp-for="@Model.Descripcion" class="form-label"></label>
        <input asp-for = "@Model.Descripcion" value="@Model.Descripcion" class="form-control">
    </section>
    <input hidden asp-for="@Model.IdUsuarioPropietario" class="form-control">
    <input type="submit" class="btn btn-outline-success" value="Confirmar">
</form>