@model Tablero

@{ViewData["title"]="Editar tablero";}

<h1 class="text-center">Editar tablero</h1>
<form asp-controller="Tablero" asp-action="EditarTablero" method="post" class="form-view">
    <section class="form-group">
        <label class="form-label">Nombre </label>
        <input asp-for = "@Model.Nombre" value="@Model.Nombre" class="form-control" required>
    </section>
    <section class="form-group">
        <label class="form-label">Descripcion </label>
        <input asp-for = "@Model.Descripcion" value="@Model.Descripcion" class="form-control">
    </section>
    <section class="form-group">
        <input hidden asp-for="@Model.Id" class="form-control">
        <input hidden asp-for="@Model.IdUsuarioPropietario" class="form-control">
    </section>
    <input type="submit" class="btn btn-outline-success" value="Confirmar">
</form>