@model List<Tablero>

@{ViewData["Title"] = "Tableros del Usuario";}

@if(@Model.Count > 0){
    <h1>Tableros del usuario</h1>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th hidden>ID Usuario Propietario</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Tablero tablero in Model)
            {
                <tr>
                    <td>@tablero.Id</td>
                    <td hidden>@tablero.IdUsuarioPropietario</td>
                    <td>@tablero.Nombre</td>
                    <td>@tablero.Descripcion</td>
                    <td>
                        <a asp-controller="Tarea" asp-action="CrearTarea" asp-route-idTablero="@tablero.Id" class="btn btn-outline-success">+ Crear tarea</a>
                        <a asp-controller="Tarea" asp-action="ListarTareasTablero" asp-route-idTablero = "@tablero.Id" class="btn btn-outline-dark">Ver tareas</a>
                        <a asp-controller="Tablero" asp-action="EditarTablero" asp-route-idTablero="@tablero.Id" class="btn btn-outline-info">Editar tablero</a>
                        <a asp-controller="Tablero" asp-action="EliminarTablero" asp-route-idTablero="@tablero.Id" class="btn btn-outline-danger" onclick="return confirm('¿Estas seguro que quieres eliminar el tablero?')">Eliminar tablero</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}else{
    <p>NO EXISTEN TABLEROS DEL USUARIO</p>
}
<a asp-controller="Tablero" asp-action="CrearTablero" asp-route-idUsuario="@ViewBag.idUsuario" class="btn btn-outline-success btn-add" >+ Crear tablero</a>