@model Tarea

@{ViewData["title"]="Crear tarea";}

<h1 class="text-center">Crear tarea</h1>
<form asp-controller="Tarea" asp-action="CrearTarea" method="post" class="form-view">
    <input hidden asp-for="@Model.IdTablero">
    <section>
        <label class="form-label">Nombre: </label>
        <input asp-for="@Model.Nombre" class="form-control" required>
    </section>
    <section>
        <label class="form-label">Descripcion: </label>
        <input asp-for="@Model.Descripcion" class="form-control">
    </section>
    <section>
        <label class="form-label">Color: </label>
        <input asp-for="@Model.Color" class="form-control">
    </section>
    <section>
        <label asp-for="@Model.Estado" class="form-label">Estado de la tarea: </label>
        <select asp-for="@Model.Estado" asp-items="@Html.GetEnumSelectList<EstadoTarea>()" class="form-select" aria-label="Default select example"></select>
    </section>
    <section>
        <label asp-for="@Model.IdUsuarioAsignado" class="form-label">Id usuario asignado: </label>
        <input asp-for="@Model.IdUsuarioAsignado" class="form-control">
    </section>
    <input hidden asp-for="@Model.IdTablero" value="@ViewBag.IdTablero">
    <input type="submit" value="Confirmar" class="btn btn-outline-success">
</form>