@model tl2_tp10_2023_iignac.ViewModels.CrearUsuarioViewModel 

@{ViewData["title"]="Crear usuario";}

<h1 class="text-center">Crear usuario</h1>

<form asp-controller="Usuario" asp-action="CrearUsuario" method="post" class="form-view">
    <section class="mb-3">
        <label asp-for = "@Model.UsuarioNuevo.Nombre" class="form-label"></label>
        <input asp-for = "@Model.UsuarioNuevo.Nombre" class="form-control">
    </section>
    <section>
        <label asp-for = "@Model.UsuarioNuevo.Contrasenia" class="form-label"></label>
        <input asp-for = "@Model.UsuarioNuevo.Contrasenia" type="password" class="form-control" required>
    </section>
    <section>
        <label asp-for = "@Model.UsuarioNuevo.Rol" class="form-label"></label>
        <select asp-for = "@Model.UsuarioNuevo.Rol" asp-items="@Html.GetEnumSelectList<Rol>()" class="form-select" aria-label="Default select example"></select>
    </section>
    <input type="submit" class="btn btn-outline-success">
</form>