@model tl2_tp10_2023_iignac.ViewModels.IndexUsuariosViewModel

@{ ViewData["Title"] = "Usuarios"; }

<section class="conten-view">
    <h1 class="text-center title-view">Usuarios</h1>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Rol</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var usuario in Model.ListaUsuariosVM)
            {
                <tr>
                    <td>@usuario.Id</td>
                    <td>@usuario.Nombre</td>
                    <td>@usuario.Rol</td> @* <td>@usuario.Rol.ToString()</td> *@
                    <td>
                        <a asp-controller="Usuario" asp-action="EditarUsuario" asp-route-idUsuario="@usuario.Id" class="btn btn-outline-info">Editar</a>
                        <a asp-controller="Usuario" asp-action="EliminarUsuario" asp-route-idUsuario="@usuario.Id" class="btn btn-outline-danger" onclick="return confirm('¿Estas seguro que quieres eliminar el usuario?')">Eliminar</a>
                        <a asp-controller="Tablero" asp-action="ListarTableros" asp-route-idUsuario="@usuario.Id" class="btn btn-outline-dark">Ver tableros</a>                  
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a asp-controller="Usuario" asp-action="CrearUsuario" class="btn btn-outline-success btn-add">+ Crear usuario</a>
</section>